.search {
    &_button {
        &:hover {
            cursor: pointer;
        }
    }

    &_items {
        width: 50%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }

    &_brand-button {
        flex: 0 0 auto;
        scroll-snap-align: start;
        background-color: var(--button-tab-color);
        border: 1px solid var(--primary-color);

        &:hover {
            cursor: pointer;
            background-color: var(--tabs-button);
        }
    }

    &_popular-button {
        width: 100%;
        background-color: var(--button-tab-color);
        border: 1px solid var(--primary-color);
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: var(--tabs-button);
        }
    }

    &_form {
        width: 100%;
    }

    &_suggestions-wrapper {
        position: relative;
        width: 48%;
    }

    &_suggestions {
        width: 88%;
        height: 50px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        margin-left: 30px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_suggestions-arrow {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--secondary-color);
        color: black;

        width: 32px;
        height: 32px;
        padding: 0;

        border: none;
        border-radius: 50%;
        // filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
        cursor: pointer;

        &.left {
            left: 0px;
        }

        &.right {
            right: 0px;
        }

        &>mat-icon {
            color: var(--decorative-elements);
        }
    }

    &_dropped-container {
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color);
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
    }

    &_container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 50px;
    }

    &_control-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
    }

    &_button-input {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
        margin-top: 20px;
    }

    &_item {
        &:hover {
            cursor: pointer;
        }
    }

    &_dropped-remove {
        position: absolute;
        right: 20px;
        top: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &_heart {
        position: absolute;
        left: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &_no-results-text {
        width: 100%;
        text-align: center;
        margin: 20px 0 20px 0;
        font-size: 1.2rem;
    }

    &_divider {
        width: 50px;
        height: 50px;
        position: sticky;
        top: 280px;
        background-color: var(--decorative-elements);
        border-radius: 50%;
        margin-top: 20px;
    }

    &_background {
        width: 100%;
        height: 100%;
        background-image: url('../../../../public/Firefly1.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: fixed;
        inset: 0;
        opacity: 0.05;
        z-index: -1;
    }

    &_add-to-cart {
        position: absolute;
        top: 10px;
        right: -20px;
    }

    &_item-wrapper {
        width: 20%;
        position: relative;
    }

    &_form-input {
        width: 48%;
        height: 35px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 5px;
        background-color: var(--button-tab-color);
        outline: none;
        border: none;
        border: 1px solid var(--primary-color);
        padding-left: 10px;
    }

    &_filters {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        position: absolute;
        margin-top: 10px;
        z-index: 10;
    }

    &_filter-wrapper {
        width: 18%;
    }

    &_filter-button {
        width: 100%;
        background-color: var(--button-tab-color);
        border: 1px solid var(--primary-color);
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: var(--tabs-button);
        }
    }

    &_filter-options {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-height: 250px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-track {
            background: var(--secondary-color);
            border-radius: 30px;
        }

        &::-webkit-scrollbar-thumb {
            background: #d16e80;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #d4697d;
        }

        scrollbar-color: var(--secondary-color);
    }
}

.search-container--side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 300px;
    margin-bottom: 0;

    .search_container {
        margin-bottom: 0;
    }

    .search_control-wrapper {
        width: 100%;
        height: 100px;
    }

    .search_input {
        display: flex;
        flex-direction: row;
    }

    .search_items {
        flex: 1;
    }

    .search_dropped-container {
        background-color: transparent;
    }

    .search_popular-button {
        background-color: var(--button-tab-color);
    }
}

.search-container--items-side {
    height: 300px;
    overflow-y: auto;
}