<div class="tab" #tab>
  <h2>{{ title() }}</h2>
  <div class="tab_subtitle">
    <p>{{ label() }}</p>
    <span class="number-container">
      @if (searchStore.likedResults().length && index() === 1) {
        <span class="tab_likes-number">{{ searchStore.likedResults().length }}</span>
        <span class="anim-back" [class.number_anim1]="searchStore.animNumber()"></span>
        <span class="anim-back" [class.number_anim2]="searchStore.animNumber()"></span>
        <span class="anim-back" [class.number_anim3]="searchStore.animNumber()"></span>
      }
    </span>
    <span class="number-container">
      @if (buyStore.buyResults().length && index() === 2) {
        <span class="tab_likes-number">{{ buyStore.buyResults().length }}</span>
        <span class="anim-back" [class.number_anim1]="buyStore.animNumber()"></span>
        <span class="anim-back" [class.number_anim2]="buyStore.animNumber()"></span>
        <span class="anim-back" [class.number_anim3]="buyStore.animNumber()"></span>
      }
    </span>
  </div>
  <ng-container *ngIf="index() === tabsStateService.activeTab(); else templateA">
    <span class="material-symbols-outlined" [style.color]="'var(--tabs-button)'">{{
      tabsStateService.tabIcons()[index()]
    }}</span>
  </ng-container>
  <ng-template #templateA>
    <span class="material-symbols-outlined">{{ tabsStateService.tabIcons()[index()] }}</span>
  </ng-template>
  <ng-content>Default tab</ng-content>
</div>
