@use '../../mixins' as mixins;

tabs-active-content {
    width: 100%;
}

tabs-tab-group {
    width: 100%;
}

tabs-tab {
    width: 25%;
}

.tabs {
    &_tab {
        border-radius: 5px 5px 0 0;
    }

    &_reset-names,
    &_set-size,
    &_add-tab {
        background-color: lightblue;
        @include mixins.transition;

        &:hover {
            background-color: lightpink;
            cursor: pointer;
        }
    }

    &_titles-buttons {
        display: flex;
        gap: 50px;
    }

    &_text {
        text-align: center;
    }

    &_textarea {
        width: 90%;
        margin-left: 10px;
    }

    &_textarea-name {
        margin-left: 10px;
    }
}

.tabs_button {
    background: rgb(var(--button-global-color));
    color: var(--button-tab-color);
    margin: 20px;
    @include mixins.transition;

    &:hover {
        cursor: pointer;
        background: rgba(var(--button-global-color), 0.8);
    }

    &:disabled {
        user-select: none;
    }
}

.tab_button {
    background: var(--button-tab-color);
    color: var(--font-secondary-color);
    @include mixins.transition;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background: lightgray;
        color: gray;
        user-select: none;
    }
}

.fade-in {
    animation: fade-in 500ms ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .tabs {
        &_tab {
            width: 50%;
        }
    }
}