<tabs-advertisment-line
  [style.display]="advertismentService.isAdvertisment() === true ? 'flex' : 'none'"
></tabs-advertisment-line>
@let openTabButton = 'OPEN';
<tabs-tab-group>
  @for (tabTitle of tabsStateService.tabTitles(); track $index; let i = $index) {
    <tabs-tab
      class="tabs_tab"
      (click)="activateTab(i)"
      [style.backgroundColor]="
        i === tabsStateService.activeTab()
          ? 'var(--primary-color)'
          : disabledSingleState()[i] === false
            ? 'var(--inactive-color)'
            : 'var(--secondary-color)'
      "
      [style.color]="
        i === tabsStateService.activeTab()
          ? 'var(--font-primary-color)'
          : disabledSingleState()[i] === false
            ? 'var(--font-disabled-tab-color)'
            : 'var(--font-enabled-tab-color)'
      "
      [style.pointerEvents]="disabledSingleState()[i] === false ? 'none' : 'auto'"
      [label]="i === 4 ? 'new tab' : tabLabels[i]"
      [disabled]="disabledSingleState()[i]"
      [title]="tabTitle"
      [active]="i === tabsStateService.activeTab()"
      [sizeTitle]="tabsStateService.defaultTabsTitleSize()[i]"
      (sizeTitleChange)="setTabTitleSize(i, $event)"
      [index]="$index"
    >
      <button class="tab_details" (click)="navigate(i)" [disabled]="!disabledSingleState()[i]">
        {{ openTabButton }}
      </button>
      <button
        class="tab_button"
        (click)="toggleSingleTab(i)"
        [disabled]="i === tabsStateService.activeTab()"
        [style.pointerEvents]="i === tabsStateService.activeTab() ? 'none' : 'auto'"
      >
        <mat-icon> {{ disabledSingleState()[i] === true ? 'lock' : 'lock_open' }}</mat-icon>
      </button>
      @if (profileService.isUploaded() && i === 3) {
        <img class="tabs_profile-img" [src]="profileService.previewUrl()" />
      }
    </tabs-tab>
  }
</tabs-tab-group>
<ng-container>
  <tabs-active-content>
    <ng-container *ngTemplateOutlet="templateTab"></ng-container>
  </tabs-active-content>
</ng-container>
<ng-template #templateTab>
  @switch (tabsStateService.activeTab()) {
    @case (0) {
      <tabs-search [layout]="'side'"></tabs-search>
    }
    @case (1) {
      <tabs-found [layout]="'side'"></tabs-found>
    }
    @case (2) {
      <tabs-buy [layout]="'side'"></tabs-buy>
    }
    @case (3) {
      <tabs-profile [layout]="'side'"></tabs-profile>
    }
  }
</ng-template>
