   <tabs-tab-group (resetName)="getResetButtonName($event)">
    @for (tabTitle of tabTitles; track i; let i = $index) {
      <tabs-tab
        class="tabs_tab"
        (click)="activateTab(i)"
        [style.backgroundColor]="
          i === activeTab()
            ? 'var(--primary-color)'
            : disabledSingleState()[i] === false
              ? 'var(--inactive-color)'
              : 'var(--secondary-color)'
        "
        [style.color]="
          i === activeTab()
            ? 'var(--font-primary-color)'
            : disabledSingleState()[i] === false
              ? 'var(--font-disabled-tab-color)'
              : 'var(--font-enabled-tab-color)'
        "
        [style.pointerEvents]="disabledSingleState()[i] === false ? 'none' : 'auto'"
        [label]="i === 4 ? 'new tab' : tab"
        [disabled]="disabledSingleState()[i]"
        [title]="tabTitle"
        [active]="i === activeTab()"
        [(sizeTitle)]="defaultTabsTitleSize()[i]"
      >
        <ng-container *ngIf="i === activeTab(); else templateA"
          ><p class="tabs_text">
            i'm active and full of life {{ tabOrderName[i] }} tab and in ng-container
          </p></ng-container
        >
        <ng-template #templateA>
          <p>{{ tabOrderName[i] }}</p>
        </ng-template>
        @if (disabledSingleState()[i] === false) {
        } @else {
          <p>this is my {{ tabOrderName[i] }} tab</p>
        }
        <button
          class="tab_button"
          button="type"
          (click)="toggleSingleTab(i)"
          [disabled]="i === activeTab()"
          [style.pointerEvents]="i === activeTab() ? 'none' : 'auto'"
        >
          {{ disabledSingleState()[i] === true ? 'disable' : 'enable' }}
        </button>
      </tabs-tab>
    }
  </tabs-tab-group>
  <ng-container>
    <tabs-active-content>
      <p class="tabs_textarea-name">
        here projected content of the {{ tabOrderName[activeTab()] }} active tab goes
      </p>
      <textarea
        class="tabs_textarea"
        [value]="tabTextarea()[activeTab()]"
        (input)="updateTabTextarea($event)"
      ></textarea>
    </tabs-active-content>
  </ng-container>
  <button (click)="toggleAllTabs()" type="button" class="tabs_button">
    {{ buttonName }}
  </button>
  <ng-container *ngTemplateOutlet="templateTab"></ng-container>
  <ng-template #templateTab>
    <div class="tabs_titles-buttons">
      @let buttonName = resetButtonName();
      <button
        tabs-reset
        [buttonName]="buttonName"
        aria-label="Reset tabs names"
        class="tabs_reset-names"
        (click)="resetNames()"
      ></button>
      <button
        aria-label="Set titles size"
        class="tabs_set-size"
        (click)="setDefaultTabTitlesSize()"
      >
        {{ setSizeButtonName | uppercase }}
      </button>
      @let buttonAddTabName = addTabState() === true ? 'Add tab' : 'Delete tab';
      <button (click)="addDeleteTab()" aria-label="Add tab" class="tabs_add-tab">
        {{ buttonAddTabName | uppercase }}
      </button>
    </div>
  </ng-template>
