:host {
    background-color: red;
}

.tab {
    width: 200px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.active {
    background-color: green;
}