@let currency = '₽';
<div class="buy_products-wrapper">
  <div class="buy_products-info">
    <p class="buy_products-info-text">Products: {{ buyStore.buyResults().length }}</p>
    <p class="buy_products-info-text">Price: {{ buyStore.total() }} {{ currency }}</p>
    <button
      type="button"
      (click)="removeAllFromCart()"
      class="buy_delete-products"
      [disabled]="buyStore.buyResults().length === 0"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="buy_products" [style.transform]="'translateX(' + position + 'px)'" #products>
    @for (buyItem of buyStore.buyResults(); track buyItem.code) {
      <div class="buy_product">
        <span>{{ buyItem.brand.name }}</span>
        <img [src]="buyItem.listingImage.url" class="buy_image" />
        <span> {{ buyItem.price.formattedValue | formatPrice }}</span>
      </div>
    }
  </div>
  <div class="buy_slider-buttons">
    <button
      type="button"
      (click)="moveLeft()"
      class="buy_slider-button left"
      [disabled]="!canMoveLeft"
    >
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button
      type="button"
      (click)="moveRight()"
      class="buy_slider-button right"
      [disabled]="!canMoveRight"
    >
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
<div class="form_wrapper">
  <form class="buy_form" (ngSubmit)="buy()" [class.buy-card--side]="layout() === 'side'">
    <div class="form_field card">
      <div class="form_label-error">
        <mat-label class="form_input-label" for="cardNumber">Card Number</mat-label>
        @if (buyForm.cardNumber().touched() && buyForm.cardNumber().invalid()) {
          @for (error of buyForm.cardNumber().errors(); track error) {
            <mat-error [class.buy-card--side]="layout() === 'side'">*{{ error.message }}</mat-error>
          }
        }
      </div>
      <input
        class="buy_input"
        id="cardNumber"
        matInput
        type="text"
        placeholder="0000 0000 0000 0000"
        [formField]="buyForm.cardNumber"
      />
    </div>
    <div class="form_name-surname">
      <div class="form_field name">
        <div class="form_label-error">
          <mat-label class="form_input-label" for="name">Name</mat-label>
          @if (buyForm.name().touched() && buyForm.name().invalid()) {
            @for (error of buyForm.name().errors(); track error) {
              <mat-error [class.buy-card--side]="layout() === 'side'">*{{ error.message }}</mat-error>
            }
          }
        </div>
        <input
          class="buy_input"
          id="name"
          matInput
          type="text"
          [formField]="buyForm.name"
          placeholder="Name"
        />
      </div>
      <div class="form_field surname">
        <div class="form_label-error">
          <mat-label class="form_input-label" for="surname">Surname</mat-label>
          @if (buyForm.surname().touched() && buyForm.surname().invalid()) {
            @for (error of buyForm.surname().errors(); track error) {
              <mat-error [class.buy-card--side]="layout() === 'side'">*{{ error.message }}</mat-error>
            }
          }
        </div>
        <input
          class="buy_input"
          id="surname"
          matInput
          type="text"
          [formField]="buyForm.surname"
          placeholder="Surname"
        />
      </div>
    </div>
    <div class="form_date-cvv">
      <div class="form_field date">
        <div class="form_label-error">
          <mat-label class="form_input-label" for="validTill">Valid till</mat-label>
          @if (buyForm.validTill().touched() && buyForm.validTill().invalid()) {
            @for (error of buyForm.validTill().errors(); track error) {
              <mat-error [class.buy-card--side]="layout() === 'side'">*{{ error.message }}</mat-error>
            }
          }
        </div>
        <input
          class="buy_input"
          id="validTill"
          matInput
          type="password"
          placeholder="MM/YY"
          [formField]="buyForm.validTill"
          (input)="onValidTillChange($event)"
        />
      </div>
      <div class="form_field cvv">
        <div class="form_label-error">
          <mat-label class="form_input-label" for="cvv">CVV</mat-label>
          @if (buyForm.cvv().touched() && buyForm.cvv().invalid()) {
            @for (error of buyForm.cvv().errors(); track error) {
              <mat-error [class.buy-card--side]="layout() === 'side'">*{{ error.message }}</mat-error>
            }
          }
        </div>
        <input
          class="buy_input"
          id="cvv"
          matInput
          type="number"
          inputmode="numeric"
          placeholder="111"
          [formField]="buyForm.cvv"
        />
      </div>
    </div>
  </form>
  <button type="submit" [disabled]="buyForm().invalid()" class="form_submit">Buy</button>
</div>
<div class="background"></div>
