.active {
    &_wrapper {
        width: 100%;
        height: 460px;
        background-color: var(--primary-color);
        color: var(--font-primary-color);
        border-radius: 0 0 5px 5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-around;
    }

    &_text {
        margin: 0;
        margin-left: 10px;
        padding-top: 5px;
    }
}

.active {
    animation-name: tab_background_anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes tab_background_anim {
    0% {
        background-color: var(--primary-color);
    }

    50% {
        background-color: var(--decorative-elements);
    }

    100% {
        background-color: var(--primary-color);
    }
}

.arrow-gif {
    width: 400px;
    height: 100px;
    background-image: url('../../../../public/tabs_arrow_draw_lightpink.gif');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: 50;
    top: 550px;
    transform: scale(0.8);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .arrow-gif {
        width: 360px;
        height: 90px;
        background-image: url('../../../../public/tabs_arrow_draw_lightpink.gif');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        z-index: 50;
        top: 600px;
        transform: scale(0.8);
    }
}