<style>
  :host {
    --primary-color: #d12646;
    --secondary-color: #ffa7b7;
    --inactive-color: #e1e1e1;
    --button-tab-color: #ffffff;
    --button-tabname-color: 65, 230, 211;
    --button-global-color: 81, 78, 140;
    --font-primary-color: #ffffff;
    --font-secondary-color: #000000;
    --font-enabled-tab-color: #514e8c;
    --font-disabled-tab-color: gray;

    font-family:
      'Inter',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    height: 100dvh;
  }

  :host(.dark) {
    --dark-primary-color: darkblue;
    --dark-inactive-color: #e1e1e1;
    --dark-secondary-color: lightblue;

    --primary-color: var(--dark-primary-color);
    --inactive-color: var(--dark-inactive-color);
    --secondary-color: var(--dark-secondary-color);
  }

  h1 {
    font-size: 3.125rem;
    color: var(--gray-900);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -0.125rem;
    margin: 0;
    font-family:
      'Inter Tight',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
  }

  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    position: relative;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

@let projectName = 'Tabs';

<main class="main">
  <button class="theme-button" (click)="toggleTheme()">
    <mat-icon class="theme-icon">{{ theme() === 'light' ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
  <h1 class="let-title">{{ projectName }}</h1>
  <tabs-tab-group>
    @for (tabTitle of tabTitles; track i; let i = $index) {
      <tabs-tab
        class="tabs_tab"
        (click)="activateTab(i)"
        [style.backgroundColor]="
          i === activeTab()
            ? 'var(--primary-color)'
            : disabledSingleState()[i] === false
              ? 'var(--inactive-color)'
              : 'var(--secondary-color)'
        "
        [style.color]="
          i === activeTab()
            ? 'var(--font-primary-color)'
            : disabledSingleState()[i] === false
              ? 'var(--font-disabled-tab-color)'
              : 'var(--font-enabled-tab-color)'
        "
        [style.pointerEvents]="disabledSingleState()[i] === false ? 'none' : 'auto'"
        [label]="tab"
        [disabled]="disabledSingleState()[i]"
        [title]="tabTitle"
        [active]="i === activeTab()"
      >
        <ng-container *ngIf="i === activeTab(); else templateA"
          ><p>
            i'm active and full of life {{ tabOrderName[i] }} tab and in ng-container
          </p></ng-container
        >
        <ng-template #templateA>
          <p>{{ tabOrderName[i] }}</p>
        </ng-template>
        @if (disabledSingleState()[i] === false) {
        } @else {
          <p>this is my {{ tabOrderName[i] }} tab</p>
        }
        <button
          class="tab_button"
          button="type"
          (click)="toggleSingleTab(i)"
          [disabled]="i === activeTab()"
          [style.pointerEvents]="i === activeTab() ? 'none' : 'auto'"
        >
          {{ disabledSingleState()[i] === true ? 'disable' : 'enable' }}
        </button>
      </tabs-tab>
    }
  </tabs-tab-group>
  <ng-container>
    <tabs-active-content>
      <p>here projected content of the {{ tabOrderName[activeTab()] }} active tab goes</p>
    </tabs-active-content>
  </ng-container>
  <button (click)="toggleAllTabs()" type="button" class="tabs_button">
    {{ buttonName }}
  </button>
</main>

<router-outlet />
