main {
    display: flex;
    flex-direction: column;
}

tabs-active-content {
    width: 100%;
}

tabs-tab-group {
    width: 100%;
}

tabs-tab {
    width: 25%;
}

.tabs_button {
    background: rgb(var(--button-global-color));
    color: var(--button-tab-color);
    margin: 20px;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background: rgba(var(--button-global-color), 0.8);
    }

    &:disabled {
        user-select: none;
    }
}

.tab_button {
    background: var(--button-tab-color);
    color: var(--font-secondary-color);
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
    }
    
    &:disabled {
        background: lightgray;
        color: gray;
        user-select: none;
    }
}

.let-title {
    margin-bottom: 50px;
}

@media screen and (min-width: 320px) and (max-width: 680px) {
    tabs-tab {
        width: 100%;
    }
}