@use '../mixins' as mixins;

main {
    display: flex;
    flex-direction: column;
}

tabs-active-content {
    width: 100%;
}

tabs-tab-group {
    width: 100%;
}

tabs-tab {
    width: 25%;
}

.tabs {
    &_tab {
        border-radius: 5px 5px 0 0;
    }

    &_reset-names, &_set-size, &_add-tab {
        background-color: lightblue;
        @include mixins.transition;

        &:hover {
            background-color: lightpink;
            cursor: pointer;
        }
    }

    &_titles-buttons {
        display: flex;
        gap: 50px;
    }
}

.tabs_button {
    background: rgb(var(--button-global-color));
    color: var(--button-tab-color);
    margin: 20px;
    @include mixins.transition;

    &:hover {
        cursor: pointer;
        background: rgba(var(--button-global-color), 0.8);
    }

    &:disabled {
        user-select: none;
    }
}

.tab_button {
    background: var(--button-tab-color);
    color: var(--font-secondary-color);
    @include mixins.transition;

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background: lightgray;
        color: gray;
        user-select: none;
    }
}

.let-title {
    margin-bottom: 50px;

    &:hover {
        cursor: pointer;
    }
}

.theme-button {
    margin-left: auto;
    background-color: transparent;

    :hover {
        cursor: pointer;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .tabs {
        &_tab {
            width: 50%;
        }
    }
}