.profile {
    &_avatar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50px;
    }

    &_upload-area {
        width: 200px;
        height: 200px;
        border: 2px dashed #aaa;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        border-color: #555;
        background: #f8f8f8;
        transition: 0.2s;

        &.uploaded {
            border: none;
            background: transparent;
        }
    }

    &_upload-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_upload-button {
        margin-top: 10px;
        align-self: center;
        background-color: var(--decorative-elements);
        color: var(--secondary-color);
        font-size: 16px;
        transition: all 0.2s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: var(--secondary-color);
            color: var(--decorative-elements);
        }
    }

    &_info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &_edit-button {
        background-color: transparent;

        &:hover {
            cursor: pointer;
        }
    }

    &_input-wrapper {
        display: flex;
        align-items: center;
    }

    &_input-placeholder {
        color: black;
        width: 180px;
    }

    &_input {
        width: 180px;
    }

    &_label-error {
        display: flex;
    }

    &_background {
        width: 100%;
        height: 100%;
        background-image: url('../../../public/geisha\ \(1\).png');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        inset: 0;
        opacity: 0.1;
        z-index: -1;
    }

    &_ava-info {
        font-size: 16px;
    }
}

p {
    margin: 0 0 8px;
    font-size: 16px;
}

span {
    color: #777;
    font-size: 14px;
}

mat-error {
    color: black
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .profile_avatar {
        margin-left: 0;
    }

    .side.profile_avatar {
        flex-direction: row;
    }

    .side {
        .profile_upload-area {
            width: 80px;
            height: 80px;
            margin-right: 40px;
            margin-top: 20px;
        }

        .profile_ava-info {
            width: 80px;
            position: absolute;
            color: black;
            font-size: 14px;
            text-align: center;
        }
    }
}