<div class="profile_avatar" [class.side]="layout() === 'side'">
  @if (layout() !== 'side' || !isMobile) {
    <p class="profile_ava-info">Your avatar</p>
  }
  <div class="profile_upload-area" [class.uploaded]="profileService.isUploaded()">
    <input #fileInput type="file" accept="image/*" hidden (change)="onFileSelected($event)" />
    @if (profileService.previewUrl(); as url) {
      <img class="profile_upload-img" [src]="url" alt="Preview" />
    }
  </div>
  @if (layout() === 'side' && profileService.isUploaded() !== true && isMobile) {
    <p class="profile_ava-info">Your avatar</p>
  }
  <button type="button" class="profile_upload-button" (click)="fileInput.click()">
    Select image
  </button>
</div>
<div class="profile_info">
  <div class="profile_label-error">
    <label for="email">Your email</label>
    @if (isEditEmail()) {
      @if (profileForm.email().touched() && profileForm.email().invalid()) {
        @for (error of profileForm.email().errors(); track error) {
          <mat-error>*{{ error.message }}</mat-error>
        }
      }
    }
  </div>
  <div class="profile_input-wrapper">
    @if (isEditEmail()) {
      <input
        class="profile_input"
        id="email"
        [formField]="profileForm.email"
        placeholder="email@email.com"
        [readOnly]="!isEditEmail()"
      />
    } @else {
      <span class="profile_input-placeholder">{{
        profileService.email() ? profileService.email() : emailPlaceholder
      }}</span>
    }
    <button class="profile_edit-button" (click)="toggleEditEmail()" aria-label="edit email">
      <span class="material-symbols-outlined">{{
        isEditEmail() === true ? 'edit_off' : 'edit'
      }}</span>
    </button>
  </div>
  <div class="profile_label-error">
    <label for="name">Your name</label>
    @if (isEditName()) {
      @if (profileForm.name().touched() && profileForm.name().invalid()) {
        @for (error of profileForm.name().errors(); track error) {
          <mat-error>*{{ error.message }}</mat-error>
        }
      }
    }
  </div>
  <div class="profile_input-wrapper">
    @if (isEditName()) {
      <input
        class="profile_input"
        id="name"
        [formField]="profileForm.name"
        placeholder="Name"
        [readOnly]="!isEditName()"
      />
    } @else {
      <span class="profile_input-placeholder">{{
        profileService.name() ? profileService.name() : namePlaceholder
      }}</span>
    }
    <button class="profile_edit-button" (click)="toggleEditName()" aria-label="edit name">
      <span class="material-symbols-outlined">{{
        isEditName() === true ? 'edit_off' : 'edit'
      }}</span>
    </button>
  </div>
</div>
<div class="profile_background"></div>
