<div [class.found-container--side]="layout() === 'side'">
  @if (layout() !== 'side') {
    <div class="found_title-wrapper">
      @if (currentPage !== 'liked') {
        @if (searchStore.likedResults().length === 0) {
          <p class="found_dropped-title">Drag here what you like</p>
        } @else {
          <p class="found_dropped-title">Your favorites</p>
        }
        @if (layout() !== 'search') {
          <button
            [style.background]="'transparent'"
            class="found_heart"
            matTooltip="Go to liked"
            (click)="navigate('liked')"
          >
            <mat-icon class="found_dropped-remove">favorite</mat-icon>
          </button>
        }
      } @else {
        @if (layout() !== 'search') {
          <button
            [style.background]="'transparent'"
            class="found_search"
            matTooltip="Continue search"
            (click)="navigate('search')"
          >
            <mat-icon class="found_dropped-remove">search</mat-icon>
          </button>
        }
      }
      @if (searchStore.likedResults().length !== 0) {
        @if (layout() !== 'search') {
          <button
            [style.background]="'transparent'"
            matTooltip="Delete all products"
            (click)="removeAllLiked()"
          >
            <mat-icon class="found_remove-all">delete</mat-icon>
          </button>
          <button
            [style.background]="'transparent'"
            matTooltip="Buy selected"
            (click)="navigate('buy')"
          >
            <mat-icon class="found_dropped-remove">shopping_cart_checkout</mat-icon>
          </button>
        }
      }
    </div>
  }
  <div class="found_interested">
    @for (result of searchStore.likedResults(); track result.code; let i = $index) {
      <div class="found_item-wrapper">
        <tabs-search-item
          class="found_item"
          [brandName]="result.brand.name"
          [imgSrc]="result.listingImage.url"
          [itemName]="result.name"
          [price]="result.price.formattedValue"
        ></tabs-search-item>
        <button
          class="found_remove-single"
          [style.background]="'transparent'"
          matTooltip="Delete this product"
          (click)="removeSingleLiked(result.code)"
        >
          <mat-icon>delete_forever</mat-icon>
        </button>
        <button
          class="found_add-to-cart"
          [style.background]="'transparent'"
          matTooltip="Add to cart"
          (click)="addToCart(result.code)"
        >
          <mat-icon>add_shopping_cart</mat-icon>
        </button>
      </div>
    }
  </div>
</div>
<div class="found_background"></div>
