<div [class.found-container--side]="layout() === 'side'">
  @if (layout() !== 'side') {
    <div class="found_title-wrapper" [class.found-container--side]="layout() === 'search'">
      @if (currentPage !== 'liked') {
        @if (searchStore.likedResults().length === 0) {
          <p class="found_dropped-title">Drag here what you like</p>
        }
      }
    </div>
  }
  <div [class.found-container--side]="layout() === 'side'" class="found_interested">
    @for (result of searchStore.likedResults(); track result.code; let i = $index) {
      <div class="found_item-wrapper">
        <tabs-search-item
          class="found_item"
          [brandName]="result.brand.name"
          [imgSrc]="result.listingImage.url"
          [itemName]="result.name"
          [price]="result.price.formattedValue"
          [matTooltip]="result.name"
        ></tabs-search-item>
        <button
          class="found_remove-single"
          [style.background]="'transparent'"
          (click)="removeSingleLiked(result.code)"
          (mouseenter)="hoveredLiked.set(result.code)"
          (mouseleave)="hoveredLiked.set(null)"
        >
          <mat-icon>{{ hoveredLiked() === result.code ? 'heart_broken' : 'favorite' }}</mat-icon>
        </button>
        <button
          class="found_add-to-cart"
          [style.background]="'transparent'"
          (click)="buyStore.addToCart(result.code)"
          [disabled]="buyStore.isInCart(result.code)"
        >
          <mat-icon>add_shopping_cart </mat-icon>
        </button>
        <button
          class="found_delete-from-cart"
          [style.background]="'transparent'"
          matTooltip="remove from cart"
          (click)="buyStore.removeFromCart(result.code)"
          [disabled]="!buyStore.isInCart(result.code)"
          (mouseenter)="hoveredRemove.set(result.code)"
          (mouseleave)="hoveredRemove.set(null)"
        >
          <mat-icon>{{ hoveredRemove() === result.code ? 'delete_forever' : 'delete' }}</mat-icon>
        </button>
      </div>
    }
  </div>
</div>
<div class="found_background"></div>
