tabs-search-item {
    width: 100%;
}

.found {
    &_item-wrapper {
        width: 15%;
        height: 100%;
        position: relative;
    }

    &_interested {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }

    &_title-wrapper {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }

    &_dropped-title {
        font-size: 1.5rem;
        text-align: center;
        margin-top: 20px;
    }

    &_remove-single {
        position: absolute;
        top: 20px;
        left: 0;
        border: none;
        padding: 0;
    }

    &_add-to-cart {
        position: absolute;
        top: 20px;
        right: 0;
        border: none;
        padding: 0;
    }

    &_background {
        width: 100%;
        height: 100%;
        background-image: url('../../../public/geisha_branch.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        inset: 0;
        opacity: 0.1;
        z-index: -1;
    }

}

button {
    border: 1px black solid;
}

.found-container--side {
    height: 300px;
    overflow-y: auto;
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .found {
        &_dropped-title {
            font-size: 1.2rem;
        }

        &_item-wrapper {
            width: 18%;
        }
    }
}

@media screen and (min-width: 768.9px) and (max-width: 1200px) {
    .found {
        &_dropped-title {
            font-size: 1.1rem;
        }

        &_item-wrapper {
            width: 22%;
        }
    }
}

@media screen and (min-width: 600.9px) and (max-width: 768px) {
    .found {
        &_dropped-title {
            font-size: 1rem;
            text-align: start;
            margin-left: 10px;
        }

        &_item-wrapper {
            width: 30%;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .found {
        &_dropped-title {
            font-size: 0.8rem;
            text-align: start;
            margin-top: 10px;
        }

        &_dropped-remove {
            position: absolute;
            right: 0px;
            top: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        &_item-wrapper {
            width: 42%;
        }
    }
}