.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_group-info {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100px;
    }
}

.tabs_get-names {
    margin: 20px 0 20px 0;
    background: rgb(var(--button-tabname-color));
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        background: rgba(var(--button-tabname-color), 0.8);
    }

    &:disabled {
        background: lightgray;
        color: gray;
        user-select: none;
        cursor: default;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .tabs {
        flex-wrap: wrap;

        &_group-info {
            flex-direction: column;
            height: 100%;
        }
    }
}