tabs-search-item {
    width: 100%;
}

tabs-search-control {
    display: flex;
}

.search {
    &_button {
        &:hover {
            cursor: pointer;
        }
    }

    &_items {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px;
    }

    &_items-wrapper {
        width: 40%;
    }

    &_brand-button {
        flex: 0 0 auto;
        scroll-snap-align: start;
        border: 1px solid var(--primary-color);

        &:hover {
            cursor: pointer;
        }
    }

    &_form {
        width: 100%;
    }

    &_suggestions-wrapper {
        position: relative;
        width: 100%;
    }

    &_suggestions {
        width: 100%;
        height: 50px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 8px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &_suggestions-arrow {
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);

        width: 32px;
        height: 32px;
        padding: 0;

        border: none;
        border-radius: 50%;
        cursor: pointer;

        &.left {
            left: 0px;
        }

        &.right {
            right: 0px;
        }
    }

    &_dropped-container {
        width: 100%;
        height: 100%;
        // background-color: var(--secondary-color);
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-track {
            background: var(--secondary-color);
            border-radius: 30px;
        }

        &::-webkit-scrollbar-thumb {
            background: var(--decorative-elements);
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--decorative-elements);
        }

        scrollbar-color: var(--secondary-color);
    }

    &_wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 100%;
    }

    &_container {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 50px;
        height: 100%;
    }

    &_control-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &_item {
        &:hover {
            cursor: pointer;
        }
    }

    &_dropped-remove {
        position: absolute;
        right: 20px;
        top: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &_heart {
        position: absolute;
        left: 20px;

        &:hover {
            cursor: pointer;
        }
    }

    &_no-results-text {
        width: 100%;
        text-align: center;
        height: 40px;
        font-size: 1.4rem;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    &_background {
        width: 100%;
        height: 100%;
        background-image: url('../../../public/Firefly1.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: fixed;
        inset: 0;
        opacity: 0.05;
        z-index: -1;
    }

    &_add-to-cart {
        position: absolute;
        top: 0px;
        right: 0;
        border: none;
        padding: 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;

            &>mat-icon {
                color: var(--primary-color);
            }
        }
    }

    &_delete-from-cart {
        position: absolute;
        bottom: -3px;
        right: 0;
        border: none;
        padding: 0;
        transition: all 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
        }
    }

    &_item-wrapper {
        width: 20%;
        position: relative;
    }
}

.search_divider {
    width: 50px;
    height: 50px;
    position: sticky;
    top: 280px;
    background-color: var(--decorative-elements);
    color: white;
    border-radius: 50%;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}

.search_divider::before,
.search_divider::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: inherit;
    z-index: -1;
}

.search_divider--active::before,
.search_divider--active::after {
    animation-name: divider_anim;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.search_divider--active::after {
    animation-delay: 0.5s;
}

@keyframes divider_anim {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.6);
        opacity: 0;
    }
}

.search-container--side {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 350px;
    margin-bottom: 0;

    .search_container {
        margin-bottom: 0;
        width: 40%;
    }

    .search_control-wrapper {
        width: 100%;
        height: 100px;
    }

    .search_input {
        display: flex;
        flex-direction: row;
    }

    .search_dropped-container {
        background-color: transparent;
    }
}

.search-container--items-side {
    height: 350px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 14px;
    }

    &::-webkit-scrollbar-track {
        background: var(--secondary-color);
        border-radius: 30px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--decorative-elements);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: var(--decorative-elements);
    }

    scrollbar-color: var(--secondary-color);
}

.flying-product {
    position: fixed;

    width: 80px;
    height: 80px;

    object-fit: contain;

    pointer-events: none;
    z-index: 1000;

    opacity: 1;

    transform: translate(0, 0) scale(1);

    transition:
        transform 650ms cubic-bezier(0.2, 0.8, 0.2, 1),
        opacity 650ms ease;

    &--active {
        transform:
            translate(var(--fly-x),
                var(--fly-y)) scale(0.45);

        opacity: 0.15;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1600px) {
    .search {
        &_no-results-text {
            width: 100%;
            text-align: center;
            height: 40px;
            font-size: 1.3rem;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 768.9px) and (max-width: 1200px) {
    .search {
        &_no-results-text {
            font-size: 1.2rem;
        }

        &_item-wrapper {
            width: 30%;
            position: relative;
        }
    }
}

@media screen and (min-width: 600.9px) and (max-width: 768px) {
    .search {
        &_no-results-text {
            font-size: 1.1rem;
        }

        &_item-wrapper {
            width: 42%;
            position: relative;
        }
    }
}

@media screen and (min-width: 451px) and (max-width: 600px) {
    .search {
        &_no-results-text {
            font-size: 1rem;
        }

        &_item-wrapper {
            width: 42%;
            position: relative;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 450px) {
    .search {
        &_no-results-text {
            font-size: 0.9rem;
        }

        &_item-wrapper {
            width: 100%;
            position: relative;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .search {
        &_dropped-remove {
            position: absolute;
            right: 0px;
            top: 10px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.arrow-gif {
    width: 400px;
    height: 100px;
    background-image: url('../../../public/tabs_arrow_draw_black.gif');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    z-index: 50;
    top: 250px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scale(0.8);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .arrow-gif {
        width: 360px;
        height: 90px;
        background-image: url('../../../public/tabs_arrow_draw_black.gif');
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        display: block;
        z-index: 50;
        top: 250px;
        left: 50%;
        right: 50%;
        transform: scale(0.8);
        transform: translate(-50%, -50%) scale(0.8);
    }
}